body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
}

.entry-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33vw;
}

.entry img {
  width: 100%
}

.entry a {

}